<%= form_with(model: permition) do |form| %>
  <% if permition.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(permition.errors.count, "error") %> prohibited this permition from being saved:</h2>

      <ul>
        <% permition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :role_id, style: "display: block" %>
    <%= form.text_field :role_id %>
  </div>

  <div>
    <%= form.label :can_lock_user, style: "display: block" %>
    <%= form.check_box :can_lock_user %>
  </div>

  <div>
    <%= form.label :can_edit_role, style: "display: block" %>
    <%= form.check_box :can_edit_role %>
  </div>

  <div>
    <%= form.label :can_edit_game, style: "display: block" %>
    <%= form.check_box :can_edit_game %>
  </div>

  <div>
    <%= form.label :can_edit_categories, style: "display: block" %>
    <%= form.check_box :can_edit_categories %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
