<div id="<%= dom_id permition %>">
  <p>
    <strong>Role:</strong>
    <%= permition.role_id %>
  </p>

  <p>
    <strong>Can lock user:</strong>
    <%= permition.can_lock_user %>
  </p>

  <p>
    <strong>Can edit role:</strong>
    <%= permition.can_edit_role %>
  </p>

  <p>
    <strong>Can edit game:</strong>
    <%= permition.can_edit_game %>
  </p>

  <p>
    <strong>Can edit categories:</strong>
    <%= permition.can_edit_categories %>
  </p>

</div>
