<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= game.category_id %>
  </p>

  <p>
    <strong>Game studio:</strong>
    <%= game.game_studio_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= game.price %>
  </p>

</div>
