<p style="color: green"><%= notice %></p>

<%= render @game_studio %>

<div>
  <%= link_to "Edit this game studio", edit_game_studio_path(@game_studio) %> |
  <%= link_to "Back to game studios", game_studios_path %>

  <%= button_to "Destroy this game studio", @game_studio, method: :delete %>
</div>
